.snack {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  transition: 0.5s;
}

.img {
  height: 180px;
  max-width: 230px;
  width: 100%;
  border-radius: 8px;
}

.title {
  font-family: "Irish Grover";
  color: #f1c40f;
}

.button {
  padding: 12px 8px;
  background-color: #28c74f;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  text-wrap: nowrap;
  transition: 0.5s;
}

.button:hover {
  background-color: #23a042;
}

.infosContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.nameAndPriceContainer,
.descriptionAndButtonContainer {
  display: flex;
  justify-content: space-between;
}

.description {
  color: #fff;
  width: 80%;
}

@media (max-width: 768px) {
  .snack {
    user-select: none;
  }

  .infosContainer {
    gap: 8px;
  }

  .img {
    display: none;
  }

  .description {
    font-size: 14px;
    line-height: 18px;
    width: 100%;
  }

  .title {
    font-size: 20px;
  }

  button {
    display: none;
  }

  .snack:hover {
    background-color: rgba(230, 126, 34, 0.3);
    border-radius: 4px;
    cursor: pointer;
  }
}
