.drinkListContainer {
  overflow-x: hidden;
  margin-bottom: 100px;
  margin-top: 70px;
}

.drinkListWrapper {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 2px;  
}

.drinkList {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: fit-content;
}

.title {
  font-family: "Irish Grover";
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
